[submodule "Pyrokinetic/ext/spdlog"]
	path = Pyrokinetic/ext/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pyrokinetic/ext/GLFW"]
	path = Pyrokinetic/ext/GLFW
	url = https://github.com/glfw/glfw
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "Pyrokinetic/ext/glm"]
	path = Pyrokinetic/ext/glm
	url = https://github.com/g-truc/glm
[submodule "Pyrokinetic/ext/implot"]
	path = Pyrokinetic/ext/implot
	url = https://github.com/epezent/implot
[submodule "Pyrokinetic/ext/vkbootstrap"]
	path = Pyrokinetic/ext/vkbootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "Pyrokinetic/ext/vulkanmemoryallocator"]
	path = Pyrokinetic/ext/vulkanmemoryallocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Pyrokinetic/ext/entt"]
	path = Pyrokinetic/ext/entt
	url = https://github.com/skypjack/entt
	branch = v3.4.0
[submodule "Pyrokinetic/ext/imgui"]
	path = Pyrokinetic/ext/imgui
	url = https://github.com/ocornut/imgui
[submodule "https://github.com/skypjack/entt/commit/bf0160adbd8fb405d758808f879de917e81465ca"]
	branch = bf0160adbd8fb405d758808f879de917e81465ca
