[submodule "Pyrokinetic/ext/spdlog"]
	path = Pyrokinetic/ext/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pyrokinetic/ext/GLFW"]
	path = Pyrokinetic/ext/GLFW
	url = https://github.com/glfw/glfw
[submodule "Pyrokinetic/ext/imgui"]
	path = Pyrokinetic/ext/imgui
	url = https://github.com/ocornut/imgui
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "Pyrokinetic/ext/glm"]
	path = Pyrokinetic/ext/glm
	url = https://github.com/g-truc/glm
[submodule "Pyrokinetic/ext/implot"]
	path = Pyrokinetic/ext/implot
	url = https://github.com/epezent/implot
